<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../../CSS/style.css" />
    <script defer src="./JavaScript/script.js"></script>
    <title>SUKUNA UI</title>
  </head>
  <body>
    <header class="header">
      <ul class="header__navbar">
        <a class="header__logo" href="../../index.html">
          <li class="navbar__items">SUKUNA</li>
        </a>
        <a href="../../Pages/installation.html">
          <li class="navbar__items header__installation">Installation</li>
        </a>
        <a href="../../Pages/documentation.html">
          <li class="navbar__items header__documentation">Documentation</li>
        </a>
      </ul>
    </header>
    <main class="main --documentation">
      <aside class="aside--component">
        <ul>
          <a href="../Alert/index.html">
            <li class="navbar__items --hover-overlay">Alert</li>
          </a>
          <a href="../Avatar/index.html">
            <li class="navbar__items --hover-overlay">Avatar</li>
          </a>
          <a href="../Badge/index.html">
            <li class="navbar__items --hover-overlay">Badge</li>
          </a>
          <a href="../Button/index.html">
            <li class="navbar__items --hover-overlay">Button</li>
          </a>
          <a href="../Card/index.html">
            <li class="navbar__items --hover-overlay">Card</li>
          </a>
          <a href="../Image/index.html">
            <li class="navbar__items --hover-overlay">Image</li>
          </a>
          <a href="./index.html">
            <li class="navbar__items --hover-overlay">Input</li>
          </a>
          <a href="../List/index.html">
            <li class="navbar__items --hover-overlay">List</li>
          </a>
          <a href="../Modal/index.html">
            <li class="navbar__items --hover-overlay">Modal</li>
          </a>
          <a href="../Navbar/index.html">
            <li class="navbar__items --hover-overlay">Navbar</li>
          </a>
          <a href="../Rating/index.html">
            <li class="navbar__items --hover-overlay">Rating</li>
          </a>
          <a href="../Text/index.html">
            <li class="navbar__items --hover-overlay">Text</li>
          </a>
          <a href="../Toast/index.html">
            <li class="navbar__items --hover-overlay">Toast</li>
          </a>
        </ul>
      </aside>
      <section class="component-section --input">
        <h2 class="component-section__heading sub-heading --h2">Input</h2>
        <p class="component-section__details">
          Input components are used when you want certain information from the
          user. These components are generally used in forms.
        </p>
        <div class="preview-container --horizontal-flex">
          <div class="input-container">
            <input type="text" class="input" id="username" autocomplete="off" />
            <label class="label" for="username"> Username </label>
          </div>
          <div class="input-container">
            <input
              type="password"
              class="input"
              id="password"
              autocomplete="off"
            />
            <label class="label" for="password"> Password </label>
          </div>
        </div>
        <div class="code-preview-container">
          <p class="source-code-text">Source Code</p>
          <img
            src="../Assests/source-code-input.png"
            alt="source-code"
            class="source-code-input"
          />
        </div>
      </section>
      <aside class="aside--section">
        <h3 class="aside__heading sub-heading --h3">On this page</h3>
        <ul>
          <li class="navbar__items"></li>
          <li class="navbar__items"></li>
          <li class="navbar__items"></li>
          <li class="navbar__items"></li>
        </ul>
      </aside>
    </main>
    <footer class="footer">
      <ul id="social-media-tab">
        <li>
          <a class="social-media-links" href="https://github.com/iHarryD">
            GitHub
          </a>
        </li>
        <li>
          <a
            class="social-media-links"
            href="https://www.linkedin.com/in/prashant-kumar-a97251195/"
          >
            LinkedIn
          </a>
        </li>
      </ul>
      <p id="portfolio-link">
        Website created by
        <a href="https://iharryd.github.io/portfolio/">Harry</a>
      </p>
    </footer>
  </body>
</html>
