<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../../CSS/style.css" />
    <script defer src="./JavaScript/script.js"></script>
    <title>SUKUNA UI</title>
  </head>
  <body>
    <header class="header">
      <ul class="header__navbar">
        <a class="header__logo" href="../../index.html">
          <li class="navbar__items">SUKUNA</li>
        </a>
        <a href="../../Pages/installation.html">
          <li class="navbar__items header__installation">Installation</li>
        </a>
        <a href="../../Pages/documentation.html">
          <li class="navbar__items header__documentation">Documentation</li>
        </a>
      </ul>
    </header>
    <main class="main --documentation">
      <aside class="aside--component">
        <ul>
          <a href="../Alert/index.html">
            <li class="navbar__items --hover-overlay">Alert</li>
          </a>
          <a href="../Avatar/index.html">
            <li class="navbar__items --hover-overlay">Avatar</li>
          </a>
          <a href="../Badge/index.html">
            <li class="navbar__items --hover-overlay">Badge</li>
          </a>
          <a href="./index.html">
            <li class="navbar__items --hover-overlay">Button</li>
          </a>
          <a href="../Card/index.html">
            <li class="navbar__items --hover-overlay">Card</li>
          </a>
          <a href="../Image/index.html">
            <li class="navbar__items --hover-overlay">Image</li>
          </a>
          <a href="../Input/index.html">
            <li class="navbar__items --hover-overlay">Input</li>
          </a>
          <a href="../List/index.html">
            <li class="navbar__items --hover-overlay">List</li>
          </a>
          <a href="../Modal/index.html">
            <li class="navbar__items --hover-overlay">Modal</li>
          </a>
          <a href="../Navbar/index.html">
            <li class="navbar__items --hover-overlay">Navbar</li>
          </a>
          <a href="../Rating/index.html">
            <li class="navbar__items --hover-overlay">Rating</li>
          </a>
          <a href="../Text/index.html">
            <li class="navbar__items --hover-overlay">Text</li>
          </a>
          <a href="../Toast/index.html">
            <li class="navbar__items --hover-overlay">Toast</li>
          </a>
        </ul>
      </aside>
      <section
        class="component-section --button"
        id="component-section--button"
      >
        <h2 class="component-section__heading sub-heading --h2">Buttons</h2>
        <p class="component-section__details">
          Button components are among the most used components on web. A
          button's appearance is usually based on its role on the website. Here
          are five different types of buttons.
        </p>
        <div class="preview-container --verticle-flex">
          <button class="btn --primary-btn --hover-overlay">
            Primary Button
          </button>
          <button class="btn --secondary-btn">Secondary Button</button>
          <button class="btn --link-btn --hover-overlay">Link Button</button>
          <button class="btn --icon-btn --hover-overlay">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#fff"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"
              />
            </svg>
          </button>
          <button class="btn --floating-btn --hover-overlay scroll-to-top-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#fff"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"
              />
            </svg>
          </button>
        </div>
        <div class="code-preview-container">
          <p class="source-code-text">Source Code</p>
          <img
            src="../Assests/source-code-button.png"
            alt="source-code"
            class="source-code-image"
          />
        </div>
      </section>
      <aside class="aside--section">
        <h3 class="aside__heading sub-heading --h3">On this page</h3>
        <ul>
          <li class="navbar__items">
            <a href="#component-section--button">Buttons</a>
          </li>
        </ul>
      </aside>
    </main>
    <footer class="footer">
      <ul id="social-media-tab">
        <li>
          <a class="social-media-links" href="https://github.com/iHarryD">
            GitHub
          </a>
        </li>
        <li>
          <a
            class="social-media-links"
            href="https://www.linkedin.com/in/prashant-kumar-a97251195/"
          >
            LinkedIn
          </a>
        </li>
      </ul>
      <p id="portfolio-link">
        Website created by
        <a href="https://iharryd.github.io/portfolio/">Harry</a>
      </p>
    </footer>
  </body>
</html>
