<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../../CSS/style.css" />
    <script defer src="./JavaScript/script.js"></script>
    <title>SUKUNA UI</title>
  </head>
  <body>
    <header class="header">
      <ul class="header__navbar">
        <a class="header__logo" href="../../index.html">
          <li class="navbar__items">SUKUNA</li>
        </a>
        <a href="../../Pages/installation.html">
          <li class="navbar__items header__installation">Installation</li>
        </a>
        <a href="../../Pages/documentation.html">
          <li class="navbar__items header__documentation">Documentation</li>
        </a>
      </ul>
    </header>
    <main class="main --documentation">
      <aside class="aside--component">
        <ul>
          <a href="../Alert/index.html">
            <li class="navbar__items --hover-overlay">Alert</li>
          </a>
          <a href="../Avatar/index.html">
            <li class="navbar__items --hover-overlay">Avatar</li>
          </a>
          <a href="../Badge/index.html">
            <li class="navbar__items --hover-overlay">Badge</li>
          </a>
          <a href="../Button/index.html">
            <li class="navbar__items --hover-overlay">Button</li>
          </a>
          <a href="../Card/index.html">
            <li class="navbar__items --hover-overlay">Card</li>
          </a>
          <a href="../Image/index.html">
            <li class="navbar__items --hover-overlay">Image</li>
          </a>
          <a href="../Input/index.html">
            <li class="navbar__items --hover-overlay">Input</li>
          </a>
          <a href="../List/index.html">
            <li class="navbar__items --hover-overlay">List</li>
          </a>
          <a href="../Modal/index.html">
            <li class="navbar__items --hover-overlay">Modal</li>
          </a>
          <a href="../Navbar/index.html">
            <li class="navbar__items --hover-overlay">Navbar</li>
          </a>
          <a href="./index.html">
            <li class="navbar__items --hover-overlay">Rating</li>
          </a>
          <a href="../Text/index.html">
            <li class="navbar__items --hover-overlay">Text</li>
          </a>
          <a href="../Toast/index.html">
            <li class="navbar__items --hover-overlay">Toast</li>
          </a>
        </ul>
      </aside>
      <section class="component-section --navbar --verticle-flex">
        <div class="rating-container" id="rating">
          <h2 class="component-section__heading sub-heading --h2">Rating</h2>
          <p class="component-section__details">
            Rating components are used in mutiple types of website to get brief
            reviews from users regarding something.
          </p>
          <div class="preview-container --horizontal-flex">
            <div class="rating-box-container">
              <label class="rating-star-container">
                <input
                  type="radio"
                  name="rating"
                  class="rating-radio-input"
                  value="1"
                />
                <svg
                  class="rating-star"
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                  fill="#ffffff2e"
                >
                  <g>
                    <path d="M0,0h24v24H0V0z" fill="none" />
                    <path d="M0,0h24v24H0V0z" fill="none" />
                  </g>
                  <g>
                    <path
                      d="M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z"
                    />
                  </g>
                </svg>
              </label>
              <label class="rating-star-container">
                <input
                  type="radio"
                  name="rating"
                  class="rating-radio-input"
                  value="2"
                />
                <svg
                  class="rating-star"
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                  fill="#ffffff2e"
                >
                  <g>
                    <path d="M0,0h24v24H0V0z" fill="none" />
                    <path d="M0,0h24v24H0V0z" fill="none" />
                  </g>
                  <g>
                    <path
                      d="M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z"
                    />
                  </g>
                </svg>
              </label>
              <label class="rating-star-container">
                <input
                  type="radio"
                  name="rating"
                  class="rating-radio-input"
                  value="3"
                />
                <svg
                  class="rating-star"
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                  fill="#ffffff2e"
                >
                  <g>
                    <path d="M0,0h24v24H0V0z" fill="none" />
                    <path d="M0,0h24v24H0V0z" fill="none" />
                  </g>
                  <g>
                    <path
                      d="M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z"
                    />
                  </g>
                </svg>
              </label>
              <label class="rating-star-container">
                <input
                  type="radio"
                  name="rating"
                  class="rating-radio-input"
                  value="4"
                />
                <svg
                  class="rating-star"
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                  fill="#ffffff2e"
                >
                  <g>
                    <path d="M0,0h24v24H0V0z" fill="none" />
                    <path d="M0,0h24v24H0V0z" fill="none" />
                  </g>
                  <g>
                    <path
                      d="M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z"
                    />
                  </g>
                </svg>
              </label>
              <label class="rating-star-container">
                <input
                  type="radio"
                  name="rating"
                  class="rating-radio-input"
                  value="5"
                />
                <svg
                  class="rating-star"
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="24px"
                  viewBox="0 0 24 24"
                  width="24px"
                  fill="#ffffff2e"
                >
                  <g>
                    <path d="M0,0h24v24H0V0z" fill="none" />
                    <path d="M0,0h24v24H0V0z" fill="none" />
                  </g>
                  <g>
                    <path
                      d="M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z"
                    />
                  </g>
                </svg>
              </label>
            </div>
          </div>
          <div class="code-preview-container">
            <p class="source-code-text">Source Code</p>
            <img
              src="../Assests/source-code-rating.png"
              alt="source-code"
              class="source-code-image"
            />
          </div>
        </div>
      </section>
      <aside class="aside--section">
        <h3 class="aside__heading sub-heading --h3">On this page</h3>
        <ul>
          <li class="navbar__items"><a href="#rating">Rating</a></li>
        </ul>
      </aside>
    </main>
    <footer class="footer">
      <ul id="social-media-tab">
        <li>
          <a class="social-media-links" href="https://github.com/iHarryD">
            GitHub
          </a>
        </li>
        <li>
          <a
            class="social-media-links"
            href="https://www.linkedin.com/in/prashant-kumar-a97251195/"
          >
            LinkedIn
          </a>
        </li>
      </ul>
      <p id="portfolio-link">
        Website created by
        <a href="https://iharryd.github.io/portfolio/">Harry</a>
      </p>
    </footer>
  </body>
</html>
