<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../../CSS/style.css" />
    <title>SUKUNA UI</title>
  </head>
  <body>
    <header class="header">
      <ul class="header__navbar">
        <a class="header__logo" href="../../index.html">
          <li class="navbar__items">SUKUNA</li>
        </a>
        <a href="../../Pages/installation.html">
          <li class="navbar__items header__installation">Installation</li>
        </a>
        <a href="../../Pages/documentation.html">
          <li class="navbar__items header__documentation">Documentation</li>
        </a>
      </ul>
    </header>
    <main class="main --documentation">
      <aside class="aside--component">
        <ul>
          <a href="../Alert/index.html">
            <li class="navbar__items --hover-overlay">Alert</li>
          </a>
          <a href="../Avatar/index.html">
            <li class="navbar__items --hover-overlay">Avatar</li>
          </a>
          <a href="./index.html">
            <li class="navbar__items --hover-overlay">Badge</li>
          </a>
          <a href="../Button/index.html">
            <li class="navbar__items --hover-overlay">Button</li>
          </a>
          <a href="../Card/index.html">
            <li class="navbar__items --hover-overlay">Card</li>
          </a>
          <a href="../Image/index.html">
            <li class="navbar__items --hover-overlay">Image</li>
          </a>
          <a href="../Input/index.html">
            <li class="navbar__items --hover-overlay">Input</li>
          </a>
          <a href="../List/index.html">
            <li class="navbar__items --hover-overlay">List</li>
          </a>
          <a href="../Modal/index.html">
            <li class="navbar__items --hover-overlay">Modal</li>
          </a>
          <a href="../Navbar/index.html">
            <li class="navbar__items --hover-overlay">Navbar</li>
          </a>
          <a href="../Rating/index.html">
            <li class="navbar__items --hover-overlay">Rating</li>
          </a>
          <a href="../Text/index.html">
            <li class="navbar__items --hover-overlay">Text</li>
          </a>
          <a href="../Toast/index.html">
            <li class="navbar__items --hover-overlay">Toast</li>
          </a>
        </ul>
      </aside>
      <section
        class="component-section --badge --has-multiple-components --verticle-flex"
      >
        <div class="badge-icon-container">
          <h2 class="component-section__heading sub-heading --h2">
            Badge - Icon
          </h2>
          <p class="component-section__details">
            Badge icons components are icons with a badge on them. The badge is
            attached to the icons with an intend to inform.
          </p>
          <div class="preview-container --horizontal-flex">
            <span class="badge-icons --is-round --notification">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#fff"
              >
                <path
                  d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
                />
              </svg>
              <span class="badge --is-round">99+</span>
            </span>
            <span class="badge-icons --is-round --message">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#fff"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
                />
              </svg>
              <span class="badge --is-round">31</span>
            </span>
            <span class="badge-icons --is-round --cart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#fff"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"
                />
              </svg>
              <span class="badge --is-round">7</span>
            </span>
          </div>
          <div class="code-preview-container">
            <p class="source-code-text">Source Code</p>
            <img
              src="../Assests/source-code-badge-icon.png"
              alt="source-code"
              class="source-code-image"
            />
          </div>
        </div>
        <div class="badge-avatar-container">
          <h2 class="component-section__heading sub-heading --h2">
            Badge - Avatar
          </h2>
          <p class="component-section__details">
            Badge avatar components are avatars with a badge on them. The badge
            is attached to the avatar with an intend to notify the user of
            something. These badges are commonly seen on social media websites.
          </p>
          <div class="preview-container --horizontal-flex">
            <div class="badge-avatar">
              <img
                class="avatar --larger"
                src="../Assests/batman-avatar.png"
                alt=""
              />
              <span class="badge --is-round"></span>
            </div>
            <div class="badge-avatar">
              <img
                class="avatar --large"
                src="../Assests/batman-avatar.png"
                alt=""
              />
              <span class="badge --is-round"></span>
            </div>
            <div class="badge-avatar">
              <img
                class="avatar --medium"
                src="../Assests/batman-avatar.png"
                alt=""
              />
              <span class="badge --is-round"></span>
            </div>
            <div class="badge-avatar">
              <img
                class="avatar --small"
                src="../Assests/batman-avatar.png"
                alt=""
              />
              <span class="badge --is-round"></span>
            </div>
            <div class="badge-avatar">
              <img
                class="avatar --smaller"
                src="../Assests/batman-avatar.png"
                alt=""
              />
              <span class="badge --is-round"></span>
            </div>
          </div>
          <div class="code-preview-container">
            <p class="source-code-text">Source Code</p>
            <img
              src="../Assests/source-code-badge-avatar.png"
              alt="source-code"
              class="source-code-image"
            />
          </div>
        </div>
      </section>
      <aside class="aside--section">
        <h3 class="aside__heading sub-heading --h3">On this page</h3>
        <ul>
          <li class="navbar__items"></li>
          <li class="navbar__items"></li>
          <li class="navbar__items"></li>
          <li class="navbar__items"></li>
        </ul>
      </aside>
    </main>
    <footer class="footer">
      <ul id="social-media-tab">
        <li>
          <a class="social-media-links" href="https://github.com/iHarryD">
            GitHub
          </a>
        </li>
        <li>
          <a
            class="social-media-links"
            href="https://www.linkedin.com/in/prashant-kumar-a97251195/"
          >
            LinkedIn
          </a>
        </li>
      </ul>
      <p id="portfolio-link">
        Website created by
        <a href="https://iharryd.github.io/portfolio/">Harry</a>
      </p>
    </footer>
  </body>
</html>
